{% extends 'TTMainBundle:Private:base.html.twig' %}
{% block body %}
    <div class="update-companies-section">
        <div class="row">
            <div class="container">
                <h1>Add/Edit Companies</h1>
                Hello {{ courts }}!
            </div>
        </div>
    </div>
{% endblock %}